<template>
  <div class="auth">
    <form class="signin-form" @submit.prevent="signIn">
      <fieldset>
        <label for="login">Логин</label>
        <input type="text" placeholder="login..." id="login" v-model="login">

        <label for="pass">Пароль</label>
        <input type="password" placeholder="password..." id="pass" v-model="password">

        <input class="button-primary" type="submit" value="Send" :disabled="!isReadyToSubmit">
      </fieldset>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import { Action } from 'vuex-class';

@Component({
  name: 'Auth'
})
export default class Auth extends Vue {
  public readonly $refs: {
    form: HTMLFormElement
  }

  @Action('signIn')
  public signInAction: (data) => { status: number, data: any };

  public login: string = '';
  public password: string = '';

  public get isReadyToSubmit() {
    return this.login.length !== 0 && this.password.length !== 0;
  }

  public resetForm() {
    this.login = '';
    this.password = '';
  }

  public async signIn() {
    const result: { status: number, data: any } =
      await this.signInAction({ login: this.login, password: this.password });

    if (result.status === 200) {
      this.$toasted.success('Вы успешно авторизовались', {
        duration : 2000
      });
      setTimeout(() => {
        this.$router.push('/');
      }, 2000);
    }

    if (result.status === 403) {
      this.$toasted.error('Неверный логин или пароль', {
        duration : 2000
      });
      setTimeout(() => {
        this.resetForm();
      }, 2000);
    }
  }
}
</script>

<style scoped>
  .auth {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signin-form {
    width: 400px;
  }
</style>