<template>
  <div class="container journal">
    <div class="row">
      <div class="column column-80">
        <h1>Журнал</h1>
      </div>
      <div class="column column-20">
        <button class="button" :disabled="isJournalEmpty" @click="clearJournal">Очистить журнал</button>
      </div>
    </div>

    <template v-if="isJournalEmpty">
      <h4>Журнал пуст</h4>
    </template>
    <template v-else>
      <ul>
        <transition-group name="fade">
          <li v-for="(entry, i) in journalItems" :key="`j${i}`" class="journal-row">
            <span>
              <strong>Событие: </strong> {{ entry.type }}
            </span>
            <span>
              <strong>Дата: </strong> {{ new Date(+entry.date).toLocaleString() }}
            </span>
            <strong> Данные: &nbsp;</strong>
            <pre v-if="entry.data" class="journal-data">{{ JSON.stringify(entry.data, null, 2) }}</pre>
            <span v-else> нет данных </span>
            <hr>
          </li>
        </transition-group>
      </ul>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import { Action, Getter } from 'vuex-class';
import { clearJournal, JournalEntry } from "@/utils/localStorage";


@Component({
  name: 'Journal'
})
export default class Journal extends Vue {
  @Action('getJournal')
  public getJournal: () => void;

  @Getter('journal')
  public journal: Array<JournalEntry>;

  public journalItems: Array<JournalEntry> = [];

  public get isJournalEmpty() {
    return this.journalItems.length === 0
  }

  public clearJournal() {
    clearJournal();
    this.getJournal();
    this.journalItems = [];
  }

  public mounted() {
    this.getJournal();
    const intervalID = setInterval(() => {
      const item = this.journal.pop();
      if (!item) return clearInterval(intervalID);
      this.journalItems.push(item);
    }, 200);
  }
}
</script>

<style scoped>
  .journal {
    padding: 15px 5px;
  }

  .journal-row {
    display: flex;
    flex-direction: column;
  }

  .journal-data {
    margin: 0;
    padding: 5px;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
